.business-header{
    background: url(http://placehold.it/1920x400) center center no-repeat scroll;
    height: 50vh;
    min-height: 300px;
    background-size: cover;
}

.footer-blok{
    margin-top: 1rem;
    background-color: #34495e;
    color: white;
    padding: 2.5em;
}

.slider{
    margin-bottom: 5em;
}

.portfolio-item {
    margin-bottom: 30px;
}

.nav-item{
    list-style-type: none;
}

.colorAslphalt{
    color: #34495e;
}

.backgroundColorAndriodGreen{
    background: #a3cb38;
}

.colorMidnight{
    color:#2c3e50 !important;
    border-color: #34495e !important;
}

.btn-outline-success:hover {
    background-color: #C4E538 !important;
}

